.root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 6px;
    width: fit-content;
    height: 40px;
    background: #121A1A;
    border-radius: 50vh !important;
    border: 1px solid transparent;
    color: #C3FFFB;
}

.root:hover {
    border: 1px solid #C3FFFB;
    background: #2A3838;
}

.label {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.label>span {
    /* color: #00fbff; */
    font-size: 1rem;
    margin-right: 0.5rem;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #121A1A;
    border-radius: 50vh !important;
    border: 1px solid transparent;
    color: #C3FFFB;
    cursor: pointer;
}

.iconButton:hover {
    border: 1px solid #C3FFFB;
    background: #2A3838;
}

@media (max-width: 768px) {
    .root {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #121A1A;
        border-radius: 50vh !important;
        border: 1px solid transparent;
        color: #C3FFFB;
    }
}

.disconnectButton {
    position: relative;
    background-color: #C3FFFB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vh !important;
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
    height: 38px;
    width: 100%;
}

.disconnectButton:hover {
    border: 1px solid #C3FFFB;
    background: #2A3838;
    color: #C3FFFB
}

.balance {
    font-size: 20px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    color: #FFF;
}

.networkBadge {
    width: fit-content;
    height: 18px;
    background: var(--background-color);
    color: var(--primary-color);
    /* Default text color with 50% opacity */
    border-radius: 3px;
    border: 1px solid transparent;
    /* Default border is transparent */
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    /* Smooth transition */
    border-color: var(--primary-color);
    /* Full opacity border color on hover */
}